body {
    font-family: 'Amiri', serif;
}

p, a {
    font-family: 'Montserrat', san s-serif;
}

.main-header-container {
    position: relative;
    width: 100%;
    height: 50vh;
}

.main-bg-image-container {
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.main-bg-image {
    background-image: url("surgeon.jpg");
    background-position: 45px 30px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.main-header-content {
    display: inline-block;
    /* padding: 3em 1em 0 1em; */
    width: 100%;
    /* top  right bottom left*/
}

.main-header-content h1 {
    background-color: #fff;
    color: #23383b;
    font-size: 2.5em;
    margin: 2em .4em 0 .4em;
}

.main-header-content p {
    margin-left: 43%;
    font-size: .9em;
    line-height: 1.5em;
    background-color: #fff;
    float: left;
    padding-right: 1em;
}

.main-header-content h1>span {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social {
    display: none;
}

header ul {
    display: none;
}

.celene-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em;
    color: white;
    background: #23383b;
}

.celene-intro h2 {
    text-align: center;
}

.celene-intro p {
    line-height: 2em;
}

footer {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #23383b;
    color: white;
    width: 100%;
}

.stethoscope-image {
    order: 1;
    width: 60%;
    height: 15em;
    background: url('nozzle.jpg');
    background-size: cover;
}

footer h2 {
    order: 2;
    width: 40%;
    align-self: center;
    text-align: center;
    line-height: 2em;
}

.social-footer-ul {
    width: 100%;
    order: 3;
    background-color: #eee;
    padding: .6em;
    /* margin: 0 auto; */
    padding-left: 1em;
}

.social-footer-ul li {
    display: inline;
    margin-right: 2em;
}

.social-footer-ul li:last-child {
    margin-right: .5em;
}

.footer-address {
    order: 4;
    width: 100%;
    padding: 1em;
    line-height: 2em;
}

.map-data {
    order: 5;
    width: 100%;
    height: 15em;
    border-bottom: 1px #888 solid;
}

.web-data {
    order: 6;
    background-color: #FFF;
    color: #111;
    width: 100%;
    padding: 1.5em 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
}

/* MOBILE NAVIGATION */

/* Basic styling */

nav {
    background: #fff;
    padding: 1em;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu .item {
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a {
    font-family: 'Amiri', serif;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

/* .button.secondary {
    border-bottom: 1px #444 solid;
} */

/* Mobile menu styles */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.desktop-nav {
    display: none;
}

header a.logo{
    display: none;
}

@media (min-width: 567px) {
    .main-header-content h1 {
        text-align: center;
        font-size: 4rem;
        margin-right: 0;
        margin-left: 0;
        margin-top: 2em;
    }
    .celene-intro-text-container {
        max-width: 70%;
    }
}

@media (min-width: 750px) {
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: block;
    }
    header a.logo{
        display: block;
    }
    .main-bg-image {
        background-position: center;
    }
    header {
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    .logo {
        align-self: center;
        font-family: 'Amiri', serif;
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 1.2em;
    }
    /* Desktop nav styles */
    nav ul {
        display: flex;
    }
    nav ul li a {
        color: black;
        text-decoration: none;
        display: block;
        padding: .3em .8em;
        font-size: .9em;
    }
    .social {
        display: block;
        position: absolute;
        z-index: 1;
    }
    .social {
        background-color: #eee;
        padding: .6em;
        color: white;
        left: 0;
        top: 15%;
        text-align: center;
    }
    .social li {
        margin-bottom: 2em;
    }
    .social li:last-child {
        margin-bottom: .5em;
    }
    .social li img {
        width: 20px;
    }
    .social li:last-child img {
        width: 10px;
    }
    .main-header-content p::after {
        content: '';
        position: absolute;
        right: 0;
        height: 1em;
        width: 50%;
        background: #eee;
        margin-top: .3em;
        z-index: -1;
    }
    .celene-intro-text-container {
        max-width: 60%;
    }
    .footer-address {
        order: 4;
        width: 40%;
        line-height: 2em;
    }
    .map-data {
        flex-grow: 1;
        width: 55.9%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .celene-intro-text-container {
        max-width: 50%;
    }
}